body{
    margin: 0;
    padding: 0;
    background-image: url(school.jpeg);
    
}

#logo{
    height: 80px;
    width: auto;
    margin: 0%;
}

.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}
.d-item {
    height: 474px;
}
.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.e-item{
    height: 474px;
}
.e-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.f-item{
    height: 480px;
}
.f-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}
.map{
    width: 1496px;
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: white;
}
.map iframe{
    height: 100%;
    width: 100%;
    border: none;
}
.text-center1{
    width: 1519px;
    background-color:black;
    text-align: center;
    
}
.text-reset1{
    color:black;
    
}
